<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

<table class="table table-striped">
    <thead>

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Runtime</th>
        <th>Release date</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="movie: ${movies}">
        <td th:text="${movie.id}"/>
        <td th:text="${movie.name}"/>
        <td th:text="${movie.runtime}"/>
        <td th:text="${movie.date}"/>
    </tr>

    </tbody>
</table>

</body>
</html>
